.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

.spell-form {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}