.container {
    width: 75vw;
}

.spell-form {
    display: flex;
}

.header-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center-justify {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.left-justify {
    justify-content: left;
}

.max-width {
    width: 100%;
}