.grid {
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(1, 100%);
    width: 100%;
    text-align: center;
}

.spell-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.border {
    border: 1px solid black;
    box-sizing: border-box;
}

.flex {
    display: flex;
    width: 75vw;
    height: auto;
}

.center {
    justify-content: center;
    align-items: center;
}

.spell-data {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    padding: 10px;
    margin: 5px;
    justify-items: left;
}

.spell-data li {
    list-style-type: none;
}